<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="4df4f3cd-1be9-4a09-b79c-af58bc7696c5"
    Publisher="CN=Diederik"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="4df4f3cd-1be9-4a09-b79c-af58bc7696c5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>XamlBrewer.Uwp.AdaptiveTriggerSample</DisplayName>
    <PublisherDisplayName>Diederik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="XamlBrewer.Uwp.AdaptiveTriggerSample.App">
      <uap:VisualElements
        DisplayName="XAML Brewer UWP AdaptiveTrigger Sample"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="XamlBrewer.Uwp.AdaptiveTriggerSample"
        BackgroundColor="lightSlateGray">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>